{% extends 'base.html' %}
{% block title %}Contato{% endblock title %}
{% block content %}



    
<header>
    <h1>Entre em Contato Conosco</h1>
    
</header>

<nav>
</nav>

<section>
    <h2>Informações de Contato</h2>
    <p>Estamos felizes em ouvir de você. Entre em contato conosco através dos seguintes meios:</p>

    <ul>
        <li>Email: <a href="mailto:contato@maidcafe.com">contato@maidcafe.com</a></li>
        <li>Telefone: (XX) XXXX-XXXX</li>
        <li>Endereço: Rua XXX, Bairro YYY, Cidade ZZZ</li>
    </ul>
</section>
        


{% endblock %}