{% extends 'base.html' %}
{% block title %}Sobre{% endblock title %}
{% block content %}
<h1>Sobre Nós</h1>
    

<p>Bem-vindos ao Maid Café, o lugar onde a magia e a hospitalidade se encontram. Nosso café é inspirado nas tradições japonesas de cafés temáticos, onde nossas adoráveis maids proporcionam uma experiência única e encantadora a cada visita.</p>

<p>Nossas maids são treinadas para oferecer um atendimento impecável, combinando a elegância com um toque de diversão. Cada detalhe, desde a decoração até o cardápio, é cuidadosamente planejado para proporcionar uma experiência mágica aos nossos clientes.</p>

<p>Além de deliciosas opções de comida e bebida, oferecemos entretenimento ao vivo, eventos temáticos e um ambiente acolhedor onde todos são bem-vindos. Seja você um fã de anime, um amante da cultura japonesa ou alguém em busca de uma experiência única, o Maid Café é o lugar perfeito para você.</p>



{% endblock %}